
// * transition
$time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// * fonts
$font-sans-serif: 'Montserrat Alternates', sans-serif;
$font-serif: 'Cormorant Garamond', serif;

// * colors
$white-color: #fff;
$dark-color: #161D27;
$grey-color: #909090;
$accent-color: #D1B06B;

$section-bg: #161D27;

$header-line-border: #4E555F;
$hero-btn-font: #1F2732;

$about-desc-font: #D7D7D7;
$about-item-one-bg: #3B434E;
$about-years-font: #1F2732;

$achievements-bg: #FBFBFB;

$reviews-desc-bg: #2E3947;