// * transition
$time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;
// * fonts
$font-sans-serif: 'Montserrat Alternates', sans-serif;
$font-serif: 'Cormorant Garamond', serif;

// * colors
$icon-color: #CCAA60;

$white-color: #fff;
$dark-color: #161d27;
$grey-color: #909090;
$accent-color: #d1b06b;

$section-bg: #161d27;

$header-line-border: #4e555f;
$hero-btn-font: #1f2732;
$font-second-color:  #d7d7d7;

$about-desc-font: #D7D7D7;
$about-item-one-bg: #3B434E;
$about-years-font: #1F2732;

$achievements-bg: #FBFBFB;

$reviews-desc-bg: #2E3947;

$call-font-color: #1F2732;