%decor-left {
  content: '';
  position: absolute;
  @include side-sizes(95px, 44px);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='95' height='45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M28 18.8594h-7v7h7v-7Z' fill='%23D1B06B'/%3E%3Cpath d='M0 27.3594h95M0 17.3594h95M29.5 44.8594v-44M19.5 44.8594v-44' stroke='%23D1B06B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='translate(0 .8594)' d='M0 0h95v44H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

%decor-center {
  content: '';
  position: absolute;
  @include side-sizes(95px, 44px);
  left: 50%;
  transform: translateX(-50%);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='95' height='44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M0 26.5h95M0 16.5h95M52.5 44V0M42.5 44V0' stroke='%23D1B06B'/%3E%3Cpath d='M51 18h-7v7h7v-7Z' fill='%23D1B06B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h95v44H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

 %trans{ 
  transition-duration: $time;
  transition-timing-function: $time-function;
 }

 %sosial-box {
  @include flex-center();
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  @extend %trans;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
%sosial-icon {
  height: 20px;
  width: 20px;
  
  @extend %trans;
  .soclink__box:hover &,
  .soclink__box:focus & {
    fill:$white-color;
  }
}
