<section class="about" id="about">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__left">
        <img
          class="about__img"
          src="images/about-1.jpg"
          alt="книги на полках"
        />
        <img class="about__img" src="images/about-2.jpg" alt="молоток судьи" />
      </div>
      <div class="about__right">
        <h2 class="about__title section-title">О нашей компании</h2>
        <p class="about__desc section-text">
          Наша компания работает с 2017 года, за это время мы приобрели
          колоссальный опыт в вопросах легализации пребывания, открытия и
          ведение бизнесов для иностранных компаний на польском рынке.
        </p>
        <div class="about__manager">
          <img
            class="about__manager-img"
            src="images/hero-person.png"
            alt="Елизавета Андреевна"
          />
          <p class="about__manager-name">Елизавета Андреевна</p>
        </div>
        <ul class="about__list">
          <li class="about__item">
            <div class="about__icon"></div>
            <p class="about__success">95% успешных&nbsp;дел</p>
          </li>
          <li class="about__item">
            <p class="about__years">5+</p>
            <p class="about__experience">лет&nbsp;опыта</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
