<section class="achievements section">
  <div class="container">
    <h2 class="achievements__title section-title">
      Перед нашей командой всегда стоит задача предоставить услугу на высшем
      уровне
    </h2>
    <p class="achievements__desc section-text">
      Залог успеха нашей компании это довольный клиент поэтому мы делаем нашу
      работу быстро и качественно
    </p>
    <ul class="achievements__list">
      <li class="achievements__item">
        <div class="achievements__right-colum">
          <svg class="achievements__icon">
            <use href="./images/icons.svg#icon-heart"></use>
          </svg>
          <p class="achievements__count">520</p>
        </div>
        <p class="achievements__subtitle">Зарегистрованых бизнесов</p>
      </li>
      <li class="achievements__item">
        <div class="achievements__right-colum">
          <svg class="achievements__icon">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
          <p class="achievements__count">98%</p>
        </div>
        <p class="achievements__subtitle">Успешных кейсов в легализации</p>
      </li>
      <li class="achievements__item">
        <p class="achievements__count">5 890+</p>
        <p class="achievements__text">Довольных клиентов</p>
      </li>
    </ul>
  </div>
</section>
