<section class="clients section">
  <div class="contsiner">
    <h2 class="clients__title section-title">Наши клиенты</h2>
    <div class="clienst__gallery">
      <a class="gallery__item" href="images/client-1.jpeg">
        <img class="gallery__image" src="images/client-1.jpeg" />
      </a>
      <a class="gallery__item" href="images/client-2.jpeg">
        <img class="gallery__image" src="images/client-2.jpeg" />
      </a>
      <a class="gallery__item" href="images/client-3.jpeg">
        <img class="gallery__image" src="images/client-3.jpeg" />
      </a>
    </div>
    <!-- <ul class="clients__list">
      <li class="clients__item">
        <img
          class="clients__img"
          width="84"
          height="84"
          src="images/review-4.jpg"
          alt="Татьяна"
        />
      </li>
      <li class="clients__item">
        <img
          class="clients__img"
          width="84"
          height="84"
          src="images/review-4.jpg"
          alt="Татьяна"
        />
      </li>
      <li class="clients__item">
        <img
          class="clients__img"
          width="84"
          height="84"
          src="images/review-4.jpg"
          alt="Татьяна"
        />
      </li>
    </ul> -->
  </div>
</section>
