<section class="clients section">
  <div class="container">
    <h2 class="clients__title section-title">Наши клиенты</h2>
    <div class="clients__gallery">
      <a class="gallery__item" href="images/clients/client-1.jpeg">
        <!-- <picture>
          <source
            srcset="
              ./images/clients/client-1.webp    1x,
              ./images/clients/client-1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/clients/client-1.jpeg    1x,
              ./images/clients/client-1@2x.jpeg 2x
            "
            type="image/jpeg"
          />
          <img class="gallery__image" src="./images/clients/client-1.jpeg" />
        </picture> -->
        <img class="gallery__image" src="./images/clients/client-1.jpeg" />
      </a>
      <a class="gallery__item" href="images/clients/client-2.jpeg">
        <!-- <picture>
          <source
            srcset="
              ./images/clients/client-2.webp    1x,
              ./images/clients/client-2@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/clients/client-2.jpeg    1x,
              ./images/clients/client-2@2x.jpeg 2x
            "
            type="image/jpeg"
          />
          <img class="gallery__image" src="./images/clients/client-2.jpeg" />
        </picture> -->
        <img class="gallery__image" src="./images/clients/client-2.jpeg" />
      </a>
      <a class="gallery__item" href="images/clients/client-3.jpeg">
        <!-- <picture>
          <source
            srcset="
              ./images/clients/client-3.webp    1x,
              ./images/clients/client-3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/clients/client-3.jpeg    1x,
              ./images/clients/client-3@2x.jpeg 2x
            "
            type="image/jpeg"
          />
          <img class="gallery__image" src="./images/clients/client-3.jpeg" />
        </picture> -->
        <img class="gallery__image" src="./images/clients/client-3.jpeg" />
      </a>
    </div>
  </div>
</section>
