<section class="contacts">
  <div class="container">
    <div class="contacts__wrapper">
      <h2 class="visually-hidden">Наши контакты</h2>
      <div class="contacts__left">
        <h3 class="contacts__title section-title">
          Наш юридический отдел всегда готов ответить на ваши вопросы
        </h3>
        <p class="contacts__desc section-text">
          Чтобы наш юрист связался с вами оставьте ваш контактный номер телефона
          и ожидайте звонок в ближайшее время
        </p>
        <a class="contacts__btn" href="#"><span>Связатся с юристом</span></a>
      </div>
      <div class="contacts__right">
        <div class="contacts__right-wrapper">
          <h3 class="contacts__subtitle">Консультация бухгалтера</h3>
          <p class="contacts__desc section-text">
            Если вы хотите задать вопрос который связан с бухгалтерией наберите
            нижеуказаный номер
          </p>
          <div class="contacts__phone phone">
            <div class="phone__icon">
              <svg class="phone__svg">
                <use href="./images/icons.svg#phone"></use>
              </svg>
            </div>
            <a href="tel:+48883778933" class="phone__link">
              <p class="phone__subtitle">Связаться</p>
              <p class="phone__number">+48 883 778 933</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
