<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__logo">
        <img class="footer__logIMG" src="images/logo-footer.svg" alt="" />
      </div>
    </div>
    <ul class="footer__list">
      <li class="footer__item">
        <div class="footer__icon">
          <svg class="footer__phone">
            <use href="./images/icons.svg#phone"></use>
          </svg>
        </div>
        <a href="tel:+48883778925" class="footer__link">
          <p class="footer__subtitle">Юридический отдел</p>
          <p class="footer__text">+48 883 778 925</p>
        </a>
      </li>
      <li class="footer__item">
        <div class="footer__icon">
          <svg class="footer__phone">
            <use href="./images/icons.svg#phone"></use>
          </svg>
        </div>
        <a href="tel:+48883778933" class="footer__link">
          <p class="footer__subtitle">Отдел бухгалтерии</p>
          <p class="footer__text">+48 883 778 933</p>
        </a>
      </li>
      <li class="footer__item">
        <div class="footer__icon">
          <svg class="footer__clock">
            <use href="./images/icons.svg#clock"></use>
          </svg>
        </div>
        <a href="" class="footer__link">
          <p class="footer__subtitle">Рабочие часы</p>
          <p class="footer__text">Пн-Сб: 09:00-17:00</p>
        </a>
      </li>
      <li class="footer__item">
        <div class="footer__icon">
          <svg class="footer__mail">
            <use href="./images/icons.svg#mail"></use>
          </svg>
        </div>
        <a href="mailto:consultcorporated@gmail.com" class="footer__link">
          <p class="footer__subtitle">Пишите нам на:</p>
          <p class="footer__text">consultcorporated@gmail.com</p>
        </a>
      </li>
    </ul>
    <div class="footer__cops-soclink">
      <p class="footer__cops">Copyright © Cunslt&nbsp;Corporated</p>
      <p class="footer__soclink-titel">Follow :</p>
      <ul class="footer-soclink">
        <li class="footer-soclink__item">
          <a
            class="footer-soclink__box"
            href="https://instagram.com/consult_corporated_?igshid=YmMyMTA2M2Y="
          >
            <svg class="footer-soclink__icon">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soclink__item">
          <a class="footer-soclink__box" href="viber://chat?number=48883778925">
            <svg class="footer-soclink__icon">
              <use href="./images/icons.svg#icon-viber"></use>
            </svg>
          </a>
        </li>
        <!-- <li class="footer-soclink__item">
            <a class="footer-soclink__box" href="#">
              <svg class="footer-soclink__icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li> -->
        <li class="footer-soclink__item">
          <a
            class="footer-soclink__box"
            href="https://wa.me/48883778925?text=Я%20заинтересован%20в%20консультации%20"
          >
            <svg class="footer-soclink__icon">
              <use href="./images/icons.svg#icon-whatsapp"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
