<header class="header">
  <div class="container">
    <div class="header__line">
      <div class="logo"></div>
      <!-- TODO логотип -->
      <p class="logo__title">Cunslt Corporated</p>
      <a href="#" class="header__btn">Заказать консультацию</a>
    </div>
    <div class="header__line">
      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">О нас</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Услуги</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Результаты</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Связатся</a>
          </li>
        </ul>
      </nav>
      <ul class="header__contacts h-contacts">
        <li class="h-contacts__item">
          <div class="h-contacts__icon">
            <svg class="h-contacts__phone">
              <use href="./images/icons.svg#phone"></use>
            </svg>
          </div>
          <a href="tel:+48577037800" class="h-contacts__link">
            <p class="h-contacts__subtitle">Позвоните нам:</p>
            <p class="h-contacts__text">+48 577-037-800</p>
          </a>
        </li>
        <li class="h-contacts__item">
          <div class="h-contacts__icon">
            <svg class="h-contacts__mail">
              <use href="./images/icons.svg#mail"></use>
            </svg>
          </div>
          <a href="mailto:consultcorporated@gmail.com" class="h-contacts__link">
            <p class="h-contacts__subtitle">Пишите нам на:</p>
            <p class="h-contacts__text">consultcorporated@gmail.com</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
