<header class="header">
  <div class="container">
    <div class="header__line">
      <div class="logo"></div>
      <!-- TODO логотип -->
      <p class="logo__title">Cunslt Corporated</p>
      <a href="#" class="header__btn">Заказать консультацию</a>
    </div>
    <div class="header__line">
      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">О нас</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Услуги</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Результаты</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Связатся</a>
          </li>
        </ul>
      </nav>
      <ul class="header__contacts contacts">
        <li class="contacts__item">
          <div class="contacts__icon">
            <svg class="contacts__phone">
              <use href="./images/icons.svg#phone"></use>
            </svg>
          </div>
          <a href="tel:+000000000000" class="contacts__link">
            <p class="contacts__subtitle">Позвоните нам:</p>
            <p class="contacts__text">+000000000000</p>
          </a>
        </li>
        <li class="contacts__item">
          <div class="contacts__icon">
            <svg class="contacts__mail">
              <use href="./images/icons.svg#mail"></use>
            </svg>
          </div>
          <a href="mailto:yourmail@mail.com" class="contacts__link">
            <p class="contacts__subtitle">Пишите нам на:</p>
            <p class="contacts__text">yourmail@mail.com</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
