<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__left">
        <h1 class="hero__title">Юридическая компания Consult Corporated</h1>
        <p class="hero__desc">
          Наша компания работает с 2018 года, за это время мы приобрели
          колоссальный опыт в вопросах легализации пребывания, открытия и
          ведение бизнесов для иностранных компаний на польском рынке. Наши
          юристы помогут решить вам многие вопросы в этой сфере.
        </p>
        <a class="hero__btn" href="#">
          <span>Бесплатная консультация</span>
        </a>
      </div>
      <div class="hero__right"></div>
    </div>
  </div>
</section>
