<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__left">
        <h1 class="hero__title">Консалтинговая компания в&nbsp;Варшаве</h1>
        <p class="hero__desc">
          команда профессиональных юристов которые помогут решить вам многие
          вопросы в Польше
        </p>
        <a class="hero__btn" href="#form">
          <span>Бесплатная консультация</span>
        </a>
      </div>
      <div class="hero__right">
        <img
          class="hero__img"
          width="600"
          height="600"
          src="images/hero-person.png"
          alt="Елизавета Андреевна"
        />
      </div>
    </div>
  </div>
</section>
