<section class="qwiz visually-hidden">
  <div class="form-c">
    <div class="qa">
      <div class="q">
        <h3 class="q-item"></h3>
      </div>
      <div class="a">
        <div class="a-item start-game">Start Quiz</div>
        <!-- 			<div class="a-item">E36 M3</div>
			<div class="a-item">E92 M3</div>
			<div class="a-item">G80 M3</div>
			<div class="a-item">F80 M3</div> -->
      </div>
    </div>
    <div class="progressBar">
      <div class="bar">
        <div class="bar-w"></div>
      </div>
      <div class="next">Next Question</div>
    </div>
    <button type="button" class="modal-container__closed" data-modal-close>
      <svg class="modal-container__icon">
        <use href="./images/icons.svg#icon-modal-closed"></use>
      </svg>
    </button>
  </div>
</section>
