<section class="reviews">
  <div class="container">
    <h2 class="reviews__title section-title">Отзывы клиентов</h2>
    <ul class="reviews__list">
      <li class="reviews__item">
        <div class="reviews__line">
          <img
            class="reviews__img"
            width="84"
            height="84"
            src="images/review-1.jpg"
            alt="Мария"
          />
          <p class="reviews__client">Мария</p>
        </div>
        <p class="reviews__desc section-text">
          Услугами компании пользуюсь давно уже вторую карту с ними получаю
          Профессиональная команда юристов, это находка для нашей семьи поэтому
          всегда рекомендуем их.
        </p>
      </li>
      <li class="reviews__item">
        <div class="reviews__line">
          <img
            class="reviews__img"
            width="84"
            height="84"
            src="images/review-2.jpg"
            alt="Игорь"
          />
          <p class="reviews__client">Игорь</p>
        </div>
        <p class="reviews__desc section-text">
          Мне посоветовали этих юристов мои друзья которые давно у них
          обслуживаются я тоже остался доволен работой. Регистрировал фирму и
          делал лицензии, всем доволен!
        </p>
      </li>
      <li class="reviews__item">
        <div class="reviews__line">
          <img
            class="reviews__img"
            width="84"
            height="84"
            src="images/review-3.jpg"
            alt="Владислав"
          />
          <p class="reviews__client">Владислав</p>
        </div>
        <p class="reviews__desc section-text">
          Сделал с ними ПМЖ всей семье Рекомендую!
        </p>
      </li>
      <li class="reviews__item">
        <div class="reviews__line">
          <img
            class="reviews__img"
            width="84"
            height="84"
            src="images/review-4.jpg"
            alt="Татьяна"
          />
          <p class="reviews__client">Татьяна</p>
        </div>
        <p class="reviews__desc section-text">
          Давно пользуюсь услугами бухгалтерии этой компании и очень довольна
          Однозначно рекомендую!
        </p>
      </li>
    </ul>
  </div>
</section>
