<section class="reviews section" id="reviews">
  <div class="container">
    <h2 class="reviews__title section-title">Отзывы клиентов</h2>
    <ul class="reviews__list">
      <li class="reviews__item">
        <div class="reviews__line">
          <picture>
            <source
              srcset="
                ./images/reviews/review-1.webp    1x,
                ./images/reviews/review-1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/review-1.jpg    1x,
                ./images/reviews/review-1@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="reviews__img"
              src="./images/reviews/review-1.jpg"
              width="84"
              height="84"
              alt="Мария"
            />
          </picture>
          <p class="reviews__client">Мария</p>
        </div>
        <p class="reviews__desc section-text">
          Услугами компании пользуюсь давно уже вторую карту с ними получаю
          Профессиональная команда юристов, это находка для нашей семьи поэтому
          всегда рекомендуем их.
        </p>
      </li>
      <li class="reviews__item">
        <div class="reviews__line">
          <picture>
            <source
              srcset="
                ./images/reviews/review-2.webp    1x,
                ./images/reviews/review-2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/review-2.jpg    1x,
                ./images/reviews/review-2@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="reviews__img"
              src="./images/reviews/review-2.jpg"
              width="84"
              height="84"
              alt="Игорь"
            />
          </picture>
          <p class="reviews__client">Игорь</p>
        </div>
        <p class="reviews__desc section-text">
          Мне посоветовали этих юристов мои друзья которые давно у них
          обслуживаются я тоже остался доволен работой. Регистрировал фирму и
          делал лицензии, всем доволен!
        </p>
      </li>
      <li class="reviews__item">
        <div class="reviews__line">
          <picture>
            <source
              srcset="
                ./images/reviews/review-3.webp    1x,
                ./images/reviews/review-3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/review-3.jpg    1x,
                ./images/reviews/review-3@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="reviews__img"
              src="./images/reviews/review-3.jpg"
              width="84"
              height="84"
              alt="Владислав"
            />
          </picture>
          <p class="reviews__client">Владислав</p>
        </div>
        <p class="reviews__desc section-text">
          Сделал с ними ПМЖ всей семье Рекомендую!
        </p>
      </li>
      <li class="reviews__item">
        <div class="reviews__line">
          <picture>
            <source
              srcset="
                ./images/reviews/review-4.webp    1x,
                ./images/reviews/review-4@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/review-4.jpg    1x,
                ./images/reviews/review-4@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="reviews__img"
              src="./images/reviews/review-4.jpg"
              width="84"
              height="84"
              alt="Татьяна"
            />
          </picture>
          <p class="reviews__client">Татьяна</p>
        </div>
        <p class="reviews__desc section-text">
          Давно пользуюсь услугами бухгалтерии этой компании и очень довольна
          Однозначно рекомендую!
        </p>
      </li>
    </ul>
  </div>
</section>
