<section class="services" id="services">
  <div class="container">
    <div class="services__titel">
      <h2 class="services__head">Consult Corporated</h2>
      <p class="services__head_description">
        Услуги которыми вы можете воспользоваться
      </p>
    </div>

    <ul class="services__list">
      <li class="services__item">
        <p class="services__name">ВНЖ</p>
        <div class="services__description">
          Для получения ВНЖ в польском законодатеьстве предусмотрено 4 главных
          основания -Работа, Обучение, Содержание близкого родственника.Чтобы
          подобрать для вас верный алгоритм легализации обращайтесь в нашу
          компанию
        </div>
        <a href="#form" data-services="ВНЖ" class="services__btn">Заказать</a>
      </li>
      <li class="services__item">
        <p class="services__name">ПМЖ</p>
        <div class="services__description">
          Чтобы получить постоянный вид на жительство от иностранца требуется
          наличие Карты Поляка либо Польского происхождения
        </div>
        <a href="#form" data-services="ПМЖ" class="services__btn">Заказать</a>
      </li>
      <li class="services__item">
        <p class="services__name">Гражданство</p>
        <div class="services__description">
          Получение польского гражданства возможно двумя вариантами Через
          Президента и через Воеводу при консультации мы подберем для вас самый
          оптимальный путь
        </div>
        <a href="#form" data-services="Гражданство" class="services__btn"
          >Заказать</a
        >
      </li>
      <li class="services__item">
        <p class="services__name">Регистрация фирмы</p>
        <div class="services__description">
          Наши юристы зарегистрируют для вас деятельность за 2-5 рабочих дняИ в
          случае надобности получим нужные лецензии
        </div>
        <a href="#form" data-services="Регистрация фирмы" class="services__btn"
          >Заказать</a
        >
      </li>
      <li class="services__item">
        <p class="services__name">Бухгалтерские услуги</p>
        <div class="services__description">
          С нашим отделом бухгалтерии вы получите качественное обслуживание в
          данной сфере
        </div>
        <a
          href="#form"
          data-services="Бухгалтерские услуги"
          class="services__btn"
          >Заказать</a
        >
      </li>
      <li class="services__item">
        <p class="services__name">Составление договоров</p>
        <div class="services__description">
          Для работы на польском рынке каждой фирме нужен привельно составленый
          договор который защищает интересы компании Наш юридический отдел
          предоставит вам такйю услугу
        </div>
        <a
          href="#form"
          data-services="Составление договоров"
          class="services__btn"
          ><span> Заказать</span></a
        >
      </li>
    </ul>
  </div>
</section>
