<section class="why-we">
  <div class="container">
    <div class="why-we__headtitel">
      <h2 class="why-we__head">Consult Corporated</h2>
      <p class="why-we__head_description">Это ваш надежный партнер в Польше</p>
    </div>

    <ul class="why-we__list">
      <li class="why-we__item">
        <p class="why-we__titel">Юридический отдел</p>
        <div class="why-we__description">
          <span class="why-we__accent">1200 Успешных апелляций </span> <br />
          Очень часто при самостоятельном ведении дела в получении вида на
          жителство наши клиенты получают отказы, но наши юристы без проблем
          составят обжалование решения первой инстанции и получат ваше ВНЖ через
          вторую или через суд. Чтобы получить бесплатную консультацию свяжитесь
          с нами. <br />
          <span class="why-we__accent"> 7000 составленных договоров </span
          ><br />
          Чтобы качественно предоставлять услуги на польском рынке каждая фирма
          должна иметь правильно с юридической точки зрения составленый
          договор.Мы прописали более 7000 контрактов для разных сфер и точно
          знаем как защитить все стороны вашего бизнеса
        </div>
      </li>
      <li class="why-we__item">
        <p class="why-we__titel">Бухгалтерский отдел</p>
        <div class="why-we__description">
          Наш бухгалтерский отдел перед подписанием договора тщательно
          ознакамливается с отчетной документацией вашего бизнеса и сферой
          деятельности . Чтобы понимать как минимизировать налогообложение в
          вашей нише.
        </div>
        <ul class="buch__list">
          <li class="buch__item">
            Беспрепятственных возвратов VAT
            <span class="buch__procent">80%</span>
          </li>
          <li class="buch__item">
            Полученых дофинансирований <span class="buch__procent">75%</span>
          </li>
          <li class="buch__item">
            Постоянных клиентов <span class="buch__procent">90%</span>
          </li>
          <a class="buch__btn" href="#form">
            <span>Стать нашим клиентом</span>
          </a>
        </ul>
      </li>
    </ul>
  </div>
</section>
