<section class="why-we section">
  <div class="container">
    <ul class="why-we__list">
      <li class="why-we__item">
        <h3 class="why-we__titel section-title">
          Ваш надежный партнер в Польше
        </h3>
        <p class="why-we__accent section-text">1200 Успешных апелляций</p>
        <p class="why-we__description section-text">
          Очень часто при самостоятельном ведении дела в получении вида на
          жителство наши клиенты получают отказы, но наши юристы без проблем
          составят обжалование решения первой инстанции и получат ваше ВНЖ через
          вторую или через суд. Чтобы получить бесплатную консультацию свяжитесь
          с нами.
        </p>
        <p class="why-we__accent section-text">7000 составленных договоров</p>
        <p class="why-we__description section-text">
          Чтобы качественно предоставлять услуги на польском рынке каждая фирма
          должна иметь правильно с юридической точки зрения составленый
          договор.Мы прописали более 7000 контрактов для разных сфер и точно
          знаем как защитить все стороны вашего бизнеса
        </p>
      </li>
      <li class="why-we__item">
        <h3 class="why-we__titel section-title">Бухгалтерский отдел</h3>
        <p class="why-we__description section-text">
          Наш бухгалтерский отдел перед подписанием договора тщательно
          ознакамливается с отчетной документацией вашего бизнеса и сферой
          деятельности . Чтобы понимать как минимизировать налогообложение в
          вашей нише.
        </p>
        <ul class="buch__list">
          <li class="buch__item">
            Беспрепятственных возвратов VAT
            <span class="buch__procent">80%</span>
          </li>
          <li class="buch__item">
            Полученых дофинансирований <span class="buch__procent">75%</span>
          </li>
          <li class="buch__item">
            Постоянных клиентов <span class="buch__procent">90%</span>
          </li>
          <a class="buch__btn" href="#form">
            <span>Стать нашим клиентом</span>
          </a>
        </ul>
      </li>
    </ul>
  </div>
</section>
