<div class="widget">
  <ul class="widget-soclink">
    <li class="widget-soclink__item dev-soc">
      <a
        class="widget-soclink__box"
        href="https://instagram.com/consult_corporated_?igshid=YmMyMTA2M2Y="
      >
        <svg class="widget-soclink__icon">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="widget-soclink__item dev-soc">
      <a
        class="widget-soclink__box dev-soc"
        href="viber://chat?number=48883778925"
      >
        <svg class="widget-soclink__icon">
          <use href="./images/icons.svg#icon-viber"></use>
        </svg>
      </a>
    </li>
    <!-- <li class="widget-soclink__item dev-soc">
            <a class="widget-soclink__box" href="#">
              <svg class="widget-soclink__icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li> -->
    <li class="widget-soclink__item dev-soc">
      <a
        class="widget-soclink__box"
        href="https://wa.me/48883778925?text=Я%20заинтересован%20в%20консультации%20"
      >
        <svg class="widget-soclink__icon" >
          <use href="./images/icons.svg#icon-whatsapp" ></use>
        </svg>
      </a>
    </li>
  </ul>

</div>
  <div class="call-socbox widget-soclink__box">
    <!-- <svg class="widget-soclink__icon">
      <use href="./images/icons.svg#icon-chat"></use>
    </svg> -->
  </div>
<!-- 
 <li id="vk">
      <img src="http://yademidov.ru/other/lebenbau-widget/vk-widget.png" />
      <span>Чат Вконтакте<i class="icon-external-link"></i></span>
    </li>
    <li id="whatsapp">
      <img
        src="http://yademidov.ru/other/lebenbau-widget/whatsapp-widget.png"
      />
      <span>Чат WhatsApp<i class="icon-external-link"></i></span>
    </li>
    <li id="viber">
      <img src="http://yademidov.ru/other/lebenbau-widget/viber-widget.png" />
      <span>Чат Viber<i class="icon-external-link"></i></span>
    </li>
    <li id="skype">
      <img src="http://yademidov.ru/other/lebenbau-widget/skype-widget.png" />
      <span>Чат Skype<i class="icon-external-link"></i></span>
    </li>
    <li id="facebook">
      <img
        src="http://yademidov.ru/other/lebenbau-widget/facebook-widget.png"
      />
      <span>Чат Вконтакте<i class="icon-external-link"></i></span>
    </li>
    <li id="telegram">
      <img
        src="http://yademidov.ru/other/lebenbau-widget/telegram-widget.png"
      />
      <span>Чат Вконтакте<i class="icon-external-link"></i></span>
    </li>
    <li id="email">
      <img src="http://yademidov.ru/other/lebenbau-widget/email-widget.png" />
      <span>Написать нам e-mail<i class="icon-external-link"></i></span>
    </li> -->
