.footer {
  background-color: $section-bg;
  // padding-top: 50px;
  padding-bottom: 30px;
  padding-top: 30px;


  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  &__soclink-titel {
    font-family: $font-sans-serif;
    font-size: 20px;
    line-height: 1.6;
    margin-left: auto;
    margin-right: 20px;
    color: $accent-color;
  }
  &__cops-soclink {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
    margin-top: 50px;
  }
  &__cops {
    display: inline-block;
    font-family: $font-sans-serif;
    font-size: 20px;
    line-height: 1.6;

    color: $font-second-color;
  }
  &__logIMG {
    display: block;
    width: 180px;
  }
  &__logo {
    position: relative;
    &::after {
      content: ' ';
      position: absolute;
      display: block;
      width: 520px;
      height: 80px;
      top: 0;
      left: 100%;
      background-image: url(../images/footer-icon-right.svg);
    }
     &::before {
      content: ' ';
      position: absolute;
      display: block;
      width: 520px;
      height: 80px;
      top: 0;
      right: 100%;
      background-image: url(../images/footer-icon-left.svg);
    }
  }
}

.footer-soclink {
  margin-right: 0;
  margin-top: 16px;
  @include flex-center();

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__box {
    @extend %sosial-box;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__icon {
    @extend %sosial-icon;
    fill: $white-color;
  }
}
