.header {  
  background-color: $section-bg;
}

.header__line {
  display: flex;

  &:nth-child(1) {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    outline: 1px solid lime;
  }
  
  &:nth-child(2) {
    border-top: 1px solid $header-line-border;
    border-bottom: 1px solid $header-line-border;
  }
}

.logo__title {
  font-family: $font-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  color: $white-color;    
}

.header__btn {
  font-size: 22px;
  line-height: 1.6;  
  color: $white-color;

  margin-left: auto;
  padding: 24px 71px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: color $time-function, border-color $time-function;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }  
  // TODO анімацію якусь на кнопку
}

.nav__list {
  display: flex;
  gap: 47px;
}

.nav__item:last-child {
  margin-left: 24px;
}

.nav__link {
  font-size: 22px;
  line-height: 1.6;
  color: $white-color;
  transition: color $time-function;

  display: inline-block;

  padding-top: 45px;
  padding-bottom: 48px;

  &:hover,
  &:focus {
    color: $accent-color;
  }      
}

.contacts {
  display: flex;
  gap: 50px;
}

.header__contacts {
  margin-left: auto;
}

.contacts__item {
  display: flex;  
  align-items: center;
}

.contacts__icon {
  @include side-sizes(62px, 62px);
  @include flex-center;
  margin-right: 12px;
  border: 2px solid $accent-color;
  border-radius: 50%;
}

.contacts__phone {
  @include side-sizes(17px, 17px)
}

.contacts__mail {
  @include side-sizes(18px, 16px)
}

.contacts__link {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $white-color;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
}

.contacts__subtitle {
  margin-bottom: 1px;
  font-size: 18px;
  line-height: 1.6;  
  color: $accent-color;
}

.contacts__text {
  font-size: 22px;
  line-height: 1.2;
  color: $white-color;  
}