.header__line {
  @include mq(tablet) {
    &:nth-child(1) {
      display: flex;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      
      @include mq(desktop) {
        padding-top: 30px;
        padding-bottom: 15px;
      }
    }
    
    &:nth-child(2) {
      display: block;
      padding-bottom: 10px;
      border-top: 1px solid $header-line-border;
      border-bottom: 1px solid $header-line-border;
    }
  }
    
    @include mq(desktop) {
      &:nth-child(2) {
        display: flex;
      }
    }
  }

.header__btn {
  @include mq(tablet) {
    display: block;
    font-size: 20px;
    line-height: 1.6;
    color: $white-color;
      
    margin-left: auto;
    padding: 24px 71px;
      
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: color $time-function, border-color $time-function;
      
    &:hover,
    &:focus {
      color: $accent-color;
      border-color: $accent-color;
    }
  }    

  @include mq(desktop) {
    font-size: 22px;
  }
}

.nav__list {
  @include mq(tablet) {
    display: flex;
    justify-content: space-around;
  }    

  @include mq(desktop) {
    gap: 45px;
  }
}

.nav__link {
  @include mq(tablet) {
    font-size: 22px;
      
      display: inline-block;
      
      padding-top: 10px;
      padding-bottom: 20px;
  }    

  @include mq(desktop) {
    padding-top: 45px;
    padding-bottom: 48px;
  }    
}

.h-contacts {
  @include mq(tablet) {
    display: flex;
    justify-content: space-around;
  }
    
  @include mq(desktop) {
    margin-left: auto;
    gap: 50px;
  }    
}

.h-contacts__item {
  @include mq(mobile-only) {
      margin-bottom: 10px;
    }
} 

.h-contacts__icon {  
  @include mq(mobile) {
    @include side-sizes(62px, 62px);
    border: 2px solid $accent-color;
    border-radius: 50%;
  }
}

.h-contacts__link {
  position: relative;
  @extend %fade-in;
}
