.hero {
  padding-top: 186px;
  padding-bottom: 170px;  
}

.hero__wrapper {
  display: flex;  
}

.hero__left {
  flex-basis: 50%;
}

.hero__title {
  position: relative;
  margin-bottom: 21px;
  font-family: $font-serif;
  font-weight: 400;
  font-size: 60px; // ? тут зменшила шрифт з 65px
  line-height: 1.2;
  color: $white-color;

  &::before {
    top: -58px;
    left: 0;
    @extend %decor-left;
  }
}

.hero__desc {
  margin-bottom: 28px;
  font-size: 22px;
  line-height: 1.8;
  color: $accent-color;
}

.hero__btn {
  @extend %yellov-btn;

  padding: 25px 71px 15px;   

  span {
    @extend %slide-in;
  }
}

.hero__right {
  position: relative;
  flex-basis: 50%;
}

.hero__img {
  position: absolute;
  top: -173px;
  right: 0;
  @include side-sizes(700px, 700px);
}