.hero {
  padding-top: 186px;
  padding-bottom: 170px;  
}

.hero__wrapper {
  display: flex;  
}

.hero__left {
  flex-basis: 50%;
}

.hero__title {
  position: relative;
  margin-bottom: 21px;
  font-family: $font-serif;
  font-weight: 400;
  font-size: 60px; // ? тут зменшила шрифт з 65px
  line-height: 1.2;
  color: $white-color;

  &::before {
    top: -58px;
    left: 0;
    @extend %decor-left;
  }
}

.hero__desc {
  margin-bottom: 28px;
  font-size: 22px;
  line-height: 1.8;
  color: $accent-color;
}

.hero__btn {
  font-size: 22px;
  line-height: 1.6;  
  color: $hero-btn-font;

  padding: 25px 71px 15px;
  display: inline-block;

  background-color: $accent-color; 

  &:hover span::after,
  &:focus span::after {
    transform: translate3d(0, 0, 0);
  }
}

span {
  display: inline-block;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;      
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: $hero-btn-font;
    opacity: 1;
    transition: transform $time-function;
    transform: translate3d(-100%, 0, 0);
  }   
}

.hero__right {
  position: relative;
  flex-basis: 50%;
}

.hero__img {
  position: absolute;
  top: -173px;
  right: 0;
  @include side-sizes(700px, 700px);
}