.hero {
  background-color: $section-bg;

  // TODO ці відступи будуть залежати від картинки героя
  padding: 100px 0;
}

.hero__left {
  max-width: 50%;
}

.hero__title {
  position: relative;
  margin-bottom: 21px;
  font-family: $font-serif;
  font-weight: 400;
  font-size: 65px;
  line-height: 1.2;
  color: $white-color;

  &::before {
    content: '';
    position: absolute;    
    top: -58px;
    left: 0;
    width: 95px;
    height: 44px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='95' height='45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M28 18.8594h-7v7h7v-7Z' fill='%23D1B06B'/%3E%3Cpath d='M0 27.3594h95M0 17.3594h95M29.5 44.8594v-44M19.5 44.8594v-44' stroke='%23D1B06B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='translate(0 .8594)' d='M0 0h95v44H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");;
  }
}

.hero__desc {
  margin-bottom: 28px;
  font-size: 22px;
  line-height: 1.8;
  color: $accent-color;
}

.hero__btn {
  font-size: 22px;
  line-height: 1.6;  
  color: $hero-btn-font;

  padding: 25px 71px 15px;
  display: inline-block;

  background-color: $accent-color; 

  &:hover span::after,
  &:focus span::after {
    transform: translate3d(0, 0, 0);
  }
}

span {
  display: inline-block;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;      
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: $hero-btn-font;
    opacity: 1;
    transition: transform $time-function;
    transform: translate3d(-100%, 0, 0);
  }   
}

.hero__right {
  background-color: rgba(255, 255, 255, 0.1);
}