.services {
  padding-bottom: 150px;
  background-color: $dark-color;

  &__titel {
    display: flex;
    align-items: baseline;
    padding-top: 31px;
    padding-bottom: 150px;
    @include flex-center();
    flex-direction: column;

    @include mq(tablet) {
      @include flex-center();
    }
    @include mq(desktop) {
      flex-direction: row;
    }
  }
  &__head {
    @extend %head-titel;
  }
  &__head_description {
    @extend %head-description;
  }
  &__list {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    background-color: $hero-btn-font;
    display: flex;
    flex-direction: column;
    width: calc((100% - 2 * 15px) / 1);
    position: relative;
    padding: 50px;
    justify-content: center;
    align-items: center;

    @include mq(tablet) {
      justify-content: unset;
      align-items: unset;
      width: calc((100% - 4 * 15px) / 2);
    }
    @include mq(desktop) {
      width: calc((100% - 6 * 15px) / 3);
    }
  }
  &__name {
    font-family: $font-serif;
      font-size: 35px;


    line-height: 1.6;
    text-align: center;
    color: $white-color;
    margin-bottom: 16px;
    @include mq(tablet) {
      text-align: left;
font-size: 40px;    }
    @include mq(desktop) {
      text-align: left;
  font-size: 45px;
    }
  }
  &__description {
    position: relative;

    display: block;
    font-family: $font-sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: $font-second-color;
    margin-bottom: 60px;
    @include mq(tablet) {
      text-align: left;
      font-size: 18px;
      line-height: 1.6;
    }
    @include mq(desktop) {
      font-size: 20px;
    }
  }
  &__btn {
    height: 58px;
    width: 187px;
    background: $section-bg;
    border-radius: 0px;
    margin-top: auto;
    // margin-left: auto;
    // margin-right: auto;
    margin-bottom: 20px;
    font-family: $font-sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-transform: capitalize;

    display: inline-block;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;

    color: $white-color;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: $time-function;
    @include mq(tablet) {
      font-size: 18px;
    }
    @include mq(desktop) {
      // font-size: 18px;
    }
    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $section-bg;
    }
  }
  &__description::after {
    // top: 60px;
    bottom: -30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    display: block;
    content: ' ';
    position: absolute;
    // top: 0px;
    // left: 10%;

    width: 100%;
    background-color: $header-line-border;
  }
}
