.why-we {
  background-size: cover;

  background-image: url(/src/images/why-we/why-we-bcg@1x.jpg);
  background-repeat: no-repeat;

  & .container {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  & .why-we__headtitel {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: baseline;
    padding-top: 31px;

    background: rgba(31, 39, 50, 0.85);
    padding-bottom: 80px;
    // margin-bottom: 30px;
  }
  & .why-we__head {
    position: relative;
    display: block;
    font-family: $font-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 1.3;
    text-transform: capitalize;
    margin-right: 155px;
    color: $white-color;

    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 80px;
      left: 0;
      width: 95px;
      height: 44px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='95' height='45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M28 18.8594h-7v7h7v-7Z' fill='%23D1B06B'/%3E%3Cpath d='M0 27.3594h95M0 17.3594h95M29.5 44.8594v-44M19.5 44.8594v-44' stroke='%23D1B06B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='translate(0 .8594)' d='M0 0h95v44H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
  & .why-we__head_description {
    display: block;
    font-family: $font-sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #d7d7d7;
  }

  &__list {
    background: rgba(31, 39, 50, 0.85);
    display: flex;
    flex-direction: row;
    position: relative;
  }
  &__item {
    z-index: 1;
    display: flex;
    flex-direction: column;

    width: 500px;
    // outline: solid 1px;
    padding: 20px 60px 90px 60px;

    &:first-child {
      margin-right: auto;
      &::after {
        z-index: 0;
        content: '';
        background-size: cover;
        background-image: url(/src/images/why-we/ul_bcg_@1x.jpg);
        background-repeat: no-repeat;
        display: block;
        width: 264px;
        height: 900px;
        position: absolute;
        // top: 0;
        top: calc((100% - 900px) / 2);
        left: calc(100% / 2);

        transform: translateX(-50%);
      }
    }
    &:last-child {
      margin-left: auto;
    }
  }
  &__titel {
    z-index: 1;

    margin-bottom: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    /* or 130% */

    letter-spacing: 0.4px;
    text-transform: capitalize;

    color: $white-color;
    display: flex;
    flex-direction: row;
  }
  &__description {
    z-index: 1;

    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */

    letter-spacing: 0.4px;

    color: $font-second-color;
  }
  &__accent {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* or 130% */

    letter-spacing: 0.4px;
    text-transform: capitalize;

    color: $accent-color;
    margin-top: 32px;
    margin-bottom: 13px;
    &:first-child {
      margin-top: 0;
    }
  }
}

.buch {
  &__list {
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }
  &__item {
    padding-top: 55px;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 160% */

    letter-spacing: 0.4px;
    position: relative;
    color: $white-color;

    &::after {
      content: '';
      position: absolute;
      display: block;
      top: calc(100% + 1px);
      width: 100%;
      height: 5px;
      //   background-color: $accent-color;
    }
    &:nth-child(1)::after {
      background-image: linear-gradient(
        to right,
        $accent-color 80%,
        $white-color 80%,
        $white-color 100%
      );
    }
    &:nth-child(2)::after {
      background-image: linear-gradient(
        to right,
        $accent-color 75%,
        $white-color 75%,
        $white-color 100%
      );
    }
    &:nth-child(3)::after {
      background-image: linear-gradient(
        to right,
        $accent-color 90%,
        $white-color 90%,
        $white-color 100%
      );
    }
  }
  &__procent {
    margin-left: auto;
  }

  &__btn {
    display: block;
    width: 70%;
    @extend %yellov-btn;
    margin-top: 65px;
    padding: 15px 30px 5px;
    text-align: center;
    span {
      @extend %slide-in;
    }
  }
}
