.why-we {
  min-width: $min-width-var;
  background-size: cover;
  background-image: url(/src/images/why-we/why-we-bcg@1x.jpg);
  background-repeat: no-repeat;
  padding: 50px 1px;

  & .why-we__headtitel {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    align-items: baseline;
    padding-top: 31px;
    background: rgba(31, 39, 50, 0.85);
    padding-bottom: 80px;
    @include flex-center();
    flex-direction: column;

    @include mq(tablet) {
      @include flex-center();
    }
    @include mq(desktop) {
      flex-direction: row;
    }
  }
  & .why-we__head {
    @extend %head-titel;
  }
  & .why-we__head_description {
    @extend %head-description;
  }

  &__list {
    background: rgba(31, 39, 50, 0.85);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @include flex-center();

    @include mq(tablet) {
      @include flex-center();

      flex-direction: column;
    }
    @include mq(desktop) {
      flex-direction: row;
      justify-content: unset;
      align-items: unset;
    }
  }
  &__item {
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
   min-width: $min-width-var;
    padding: 20px 50px 90px 50px;
    margin-right: auto;
    margin-left: auto;

    @include mq(tablet) {
      // width: 70%;
    }
    @include mq(desktop) {
      // flex-direction: row;
      text-align: left;
      margin: 0;
      width: 500px;
      padding: 20px 60px 90px;
    }

    &:first-child {
      margin-right: auto;
      &::after {
        @include mq(desktop) {
          z-index: 0;
          content: '';
          background-size: cover;
          background-image: url(/src/images/why-we/ul_bcg_@1x.jpg);
          background-repeat: no-repeat;
          display: block;
          width: 264px;
          height: 900px;
          position: absolute;
          // top: 0;
          top: calc((100% - 900px) / 2);
          left: calc(100% / 2);

          transform: translateX(-50%);
          padding: 50px 1px;
        }
        @include mq(desktop) {
        }
      }
    }
    &:last-child {
      margin-left: auto;
      // height: 100%;
    }
  }
  &__titel {
    z-index: 1;
    // min-width: $min-width-var;
    // display: inline-block;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2em;
    text-align: center;

    letter-spacing: 0.4px;
    text-transform: capitalize;

    color: $white-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include mq(tablet) {
    }
    @include mq(desktop) {
      text-align: left;
      font-size: 45px;
      line-height: 1.2em;
    }
  }
  &__description {
    z-index: 1;

    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */

    letter-spacing: 0.4px;

    color: $font-second-color;
  }
  &__accent {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* or 130% */

    letter-spacing: 0.4px;
    text-transform: capitalize;

    color: $accent-color;
    margin-top: 32px;
    margin-bottom: 13px;
    &:first-child {
      margin-top: 0;
    }
  }
}

.buch {
  &__list {
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }
  &__item {
    padding-top: 55px;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2em;
    /* identical to box height, or 160% */

      @include mq(tablet) {
  }
  @include mq(desktop) {
    font-size: 16px;
    line-height: 32px;
  }
    letter-spacing: 0.4px;
    position: relative;
    color: $white-color;

    &::after {
      content: '';
      position: absolute;
      display: block;
      top: calc(100% + 1px);
      width: 100%;
      height: 5px;
      //   background-color: $accent-color;
    }
    &:nth-child(1)::after {
      background-image: linear-gradient(
        to right,
        $accent-color 80%,
        $white-color 80%,
        $white-color 100%
      );
    }
    &:nth-child(2)::after {
      background-image: linear-gradient(
        to right,
        $accent-color 75%,
        $white-color 75%,
        $white-color 100%
      );
    }
    &:nth-child(3)::after {
      background-image: linear-gradient(
        to right,
        $accent-color 90%,
        $white-color 90%,
        $white-color 100%
      );
    }
  }
  &__procent {
    margin-left: auto;
  }

  &__btn {
    display: block;
    width: 70%;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
    @extend %yellov-btn;

    span {
      @extend %slide-in;
    }

    @include mq(tablet) {
    }
    @include mq(desktop) {
      margin-left: 0;
      margin-right: auto;
    }
    margin-top: 65px;
    padding: 15px 30px 5px;
    text-align: center;
  }
}
